<header class="hero-background">
  <h2 i18n class="internal-header" (click)="showId=!(showId)">Your Profile</h2>
  <span *ngIf="showId">My ID is: {{(auth | async)?.uid}} </span>
</header>

<main class="main-content">
  <md-card class="profile-card">
    
    <p i18n *ngIf="user">Let's get started setting up your profile. What's your full name?</p>
    <form *ngIf="user" (submit)="next(user)" class="user-form" ngNoForm>
      <div class="form-layout">
          <md-input-container><input mdInput placeholder="Full Name" [(ngModel)]="user.name"></md-input-container>
      </div>
      <div class="options">
        <button i18n md-raised-button color="primary" (click)="next(user)">Next</button>
      </div>
    </form>
    <p i18n *ngIf="!user">We don't yet have any data for your user.</p>
  </md-card>
</main>
