<div *ngIf="event">
  <header class="hero-background">
    <h2 i18n class="internal-header">Event</h2>
  </header>

  <main class="main-content internal-view">
    <md-card class="profile-card">
      <div class="edit-button--internal secondary-button" *ngIf="(auth.isAdmin | async) || (event.leads && event.leads[(auth.uid | async)])" >
        <a i18n routerLink="./edit">Edit</a>
      </div>
      <div class="card-hero-wrapper logo-hero view-page">
        <div class="card-hero" [style.background-image]="'url('+((event.bannerUrl|url)||'/assets/images/card-placeholder.jpg')+')'">
          <div class="card-hero" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8))">
            <div class="card-hero__content">
              <img [src]="event.logoUrl | url" class="event-logo">
              <h2>{{ event.name }}</h2>
              <a i18n class="join" [href]="event.url | url">Join</a>
            </div>
          </div>
        </div>
      </div>

    <div class="two-column">
      <div class="left">
        <p><i class="material-icons">location_on</i>{{event.location}}</p>
        <p><i class="material-icons">date_range</i>{{event.startDate | date:"MMM d"}} - {{event.endDate | date:"MMM d"}}</p>
        <p i18n><i class="material-icons">person</i>Leads:
          <span class="lead-list" *ngFor="let lead of event.leads | refirebase">{{(lead | fireJoin:'/users/' | async)?.name}}</span>
        </p>
      </div>

      <div class="right">
        <h3 i18n >Description</h3>
        <p>{{event.description}}</p>
      </div>
    </div>

    <h3 i18n>Speakers</h3>
      <div class="two-column internal-members">
        <div *ngFor="let developer of event.speakers | refirebase" class="content">
            <div class="shield" [style.background-image]="'url('+((developer | fireJoin:'/users/' | async)?.picUrl?(developer | fireJoin:'/users/' | async)?.picUrl:'/assets/images/card-placeholder.jpg')+')'"> </div>
            <p>{{(developer | fireJoin:'/users/' | async)?.name}}</p>
        </div>
      </div>
    </md-card>
  </main>
</div>

<div *ngIf="!event">
  <header class="hero-background">
      <h2 i18n class="internal-header">Event</h2>
  </header>

  <main class="main-content">
    <p i18n>Event not found.</p>
  </main>
</div>
