<form *ngIf="event" (submit)="save(event)" ngNoForm>

  <div class="form-layout">
    <div class="two-column"><md-input i18n-placeholder placeholder="Name" [(ngModel)]="event.name" required ></md-input></div>
    <div class="two-column"><md-input i18n-placeholder placeholder="Address/Location" [(ngModel)]="event.location"></md-input></div>

    <div class="two-column"><label i18n>Start Date<md-input [(ngModel)]="event.startDate" type="date"></md-input></label></div>
    <div class="two-column"><label i18n>End Date<md-input [(ngModel)]="event.endDate" type="date"></md-input></label></div>

    <div class="two-column prefix--web">
      <md-input [ngClass]="{'prefix-label--web': event.url}" i18n-placeholder placeholder="URL" [(ngModel)]="event.url">
        <span class="prefix" md-prefix>https://</span>
      </md-input>
    </div>
    <div class="two-column prefix--web">
      <md-input [ngClass]="{'prefix-label--web': event.logoUrl}" i18n-placeholder placeholder="Logo URL" [(ngModel)]="event.logoUrl">
        <span class="prefix" md-prefix>https://</span>
      </md-input>
    </div>

    <div  *ngIf="event.logoUrl" class="two-column"></div>
    <div  *ngIf="event.logoUrl" class="two-column  pic-url-image"><img [src]="event.logoUrl|url" style="max-height:2em;"></div>

    <md-input i18n-placeholder placeholder="Description" [(ngModel)]="event.description"></md-input>
  </div>

  <fieldset class="content">
    <h2 i18n>Event Leads</h2>
    <picker [list]="'/users/'" [order]="'name'" [selectedKeys]="event.leads" (update)="chooseLeads($event)"></picker>
  </fieldset>

  <fieldset class="content">
    <h2 i18n>Event Speakers</h2>
    <picker [list]="'/users/'" [order]="'name'" [selectedKeys]="event.speakers" (update)="chooseSpeakers($event)"></picker>
  </fieldset>

  <div class="options">
      <span i18n (click)="deleteThis()" class="delete">Delete</span>
      <button i18n md-raised-button color="primary" type="submit" >Save</button>
  </div>
</form>
