<header class="hero-background">
    <h2 i18n class="internal-header">Resource Queue</h2>
</header>

<main class="main-content">
  <md-card class="profile-card">
    <form>
      <div *ngFor="let submission of submissions | async">
        <!-- we need i18n ICU to translate this -->
        <h3 class="form-title">{{submission.title}} ({{submission.category}} / {{submission.subcategory}})</h3>
        <p>
          <a [href]="submission.url">{{submission.url}}</a>
          <br>
          {{submission.desc}}
        </p>

        <div class="options">
          <button i18n (click)="accept(submission)" md-raised-button color="primary">Accept</button>
          <button i18n (click)="reject(submission)" md-raised-button color="primary">Reject</button>
        </div>
      </div>
    </form>
  </md-card>
</main>
