<header class="hero-background">
  <h2 i18n class="internal-header">Resources</h2>
</header>

<main class="main-content">
  <md-card class="profile-card">

    <p><a i18n [routerLink]="['/resources/submit']">Submit a New Resource</a></p>

    <div class="content">
      <fieldset *ngIf="auth.isAdmin | async" class="content">
        <legend i18n><span class="adminIcon"></span>Admin</legend>
        <div><a i18n [routerLink]="['/resources/queue']">Manage the Queue</a></div>
        <label><input i18n type="checkbox" [(ngModel)]="priorityMode">Priority Management Mode</label>
      </fieldset>
    </div>

    <!-- NOTE: Development, Education, Community -->
    <div *ngFor="let category of data | async" class="category">
      <h3>{{category.$key}}</h3>
      <div *ngIf="priorityMode && (auth.isAdmin | async)"> <button (click)="setCategoryPriority(category.$key,priority)">SetPriority</button><input [(ngModel)]="priority"/></div>

      <!-- NOTE: IDEs, Libraries..., Books, Workshops, ...Groups, Podcasts  -->
      <div class="subcategory-list">
        <div *ngFor="let sub of category | refirebase" class="subcategory">
          <h4>{{sub.$key}}</h4>
          <h4 *ngIf="priorityMode && (auth.isAdmin | async)"><button i18n (click)="setSubcategoryPriority(category.$key, sub.$key,subPriority)">SetPriority</button><input [(ngModel)]="subPriority"></h4>

          <!--  NOTE: Augury, ngrx, ... ReactNative, Ionic, ...Learning Angular 2-->
          <div *ngFor="let resource of sub.resources | refirebase" style="margin-left:16px;">
            <a target="_blank" [href]="resource.url">{{resource.title}}</a> <a [routerLink]="['/resources',category.$key,sub.$key,resource.$key]" *ngIf="auth.isAdmin | async"><svg style="width:12px;height:12px" viewBox="0 0 24 24">
              <path fill="#000000" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" /></svg>
            </a>
            <span *ngIf="!resource.rev">(Awaiting Approval!)</span>
          </div>
        </div>
      </div>
    </div>
  </md-card>
</main>
