<form (submit)="submit()" ngNoForm>
  <div class="form-layout">
    <div class="two-column"><md-input-container><input mdInput [(ngModel)]="resource.title" placeholder="Title"></md-input-container></div>
    <div class="two-column"><md-input-container><input mdInput [(ngModel)]="resource.url" placeholder=" URL" type="url"></md-input-container></div>

    <div class="two-column">
      <label i18n>Select a Category
        <select (change)="selectCategory($event.target.value)" [ngModel]="resource.category">
          <option
            *ngFor="let category of categories | async"
            [selected]="category == resource.category">
            {{category}}
          </option>
        </select>

        <select [(ngModel)]="resource.subcategory" *ngIf="subCategories | async">
          <option
            *ngFor="let subcategory of subCategories | async"
            [selected]="subcategory == resource.subcategory">
            {{subcategory}}
          </option>
        </select>
      </label>
    </div>

    <div class="two-column"><md-input-container><input mdInput [(ngModel)]="resource.desc" placeholder="Description"></md-input-container></div>
  </div>

  <div class="options">
      <span i18n *ngIf="resource && resource.$key && resource.$key != 'new'" (click)="deleteThis()" class="delete">Delete</span>
      <button i18n md-raised-button color="primary" type="submit" >Save</button>
  </div>
</form>
