<h2>Resources</h2>
<p>
    <a [routerLink]="['/resources/new']">Submit a New Resource</a>
</p>
<div *ngFor="let category of data | async" style="margin-left:16px;clear:both;">
    <h3>{{category.$key}}</h3>
    <div *ngFor="let sub of category | refirebase" style="margin-left:16px;float:left;width:300px;height:150px;margin-bottom:32px;">
        <h4>{{sub.$key}}</h4>
        <div *ngFor="let resource of sub.resources | refirebase" style="margin-left:16px;">
            <a target="_blank" [href]="resource.url">{{resource.title}}</a> 
            <span *ngIf="!resource.rev">(Awaiting Approval!)</span>
        </div>
    </div>
</div>