<header class="hero-background">
  <h2 i18n class="internal-header">Resources</h2>
</header>

<main class="main-content">
  <button i18n [routerLink]="['/resources/submit']" md-raised-button color="primary"><span class="adminIcon"></span>Submit a New Resource</button>

  <fieldset *ngIf="auth.isAdmin | async" class="content">
    <h2 i18n>Admin Properties</h2>

    <div><a i18n [routerLink]="['/resources/queue']">Manage the Queue</a></div>
    <label>
      <input i18n type="checkbox" [(ngModel)]="priorityMode">
      Priority Management Mode
    </label>
  </fieldset>

  <div class="resources-layout">
    <div class="resources js-resources-ctrl grid-fixed left">
      <div *ngFor="let category of data | async" class="category">
        <h2>{{category.$key}}</h2>
        <div i18n *ngIf="priorityMode && (auth.isAdmin | async)" class="priority">
          <md-input placeholder="Priority" [(ngModel)]="priority"></md-input>
          <button md-raised-button color="primary" (click)="setCategoryPriority(category.$key,priority)">Set Priority</button>
        </div>

        <md-card>
          <section class="category shadow-1" *ngFor="let sub of category | refirebase">
            <div class="category__sub">
              <h3>{{sub.$key}}</h3>
              <div i18n *ngIf="priorityMode && (auth.isAdmin | async)" class="priority">
                <md-input placeholder="Priority" [(ngModel)]="subPriority"></md-input>
                <button md-raised-button color="primary" (click)="setCategoryPriority(category.$key,subPriority)">Set Priority</button>
              </div>

              <div class="sub__resource" *ngFor="let resource of sub.resources | refirebase">
                <div ngFor="let resource of sub.resources | refirebase">
                  <a class="resource" target="_blank" [href]="resource.url">
                    <div [routerLink]="['/resources',category.$key,sub.$key,resource.$key]" *ngIf="auth.isAdmin | async" class="edit-button secondary-button">
                      <a i18n>Edit</a>
                    </div>
                    <h4 class="title">{{resource.title}}</h4>
                    <p class="details">{{resource.desc}}</p>
                    <span i18n *ngIf="!resource.rev">(Awaiting Approval!)</span>
                  </a>
                </div>
              </div>
            </div>
          </section>
        </md-card>
      </div>
    </div>

    <div class="right jumpnav">
      <md-card class="jumpnav--affix-top">
        <div *ngFor="let category of data | async">

          <div class="jumpnav__title">
            <a >{{category.$key}} </a>
          </div>

          <div class="jumpnav__category">
            <a *ngFor="let sub of category | refirebase">{{sub.$key}}</a>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</main>
