.participant-name {
  color: rgba(0, 0, 0, 0.54);
}

.participant-name:hover {
  color: #00838f;
}

.delete-item {
  color: #00838f;
  margin-right: 8px;
  font-size: 18px;
}

h4 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  margin: 16px 0;
}
