// Import Main global variables
// ------------------------------------------------------------
@import '../../assets/scss/variables.scss';

// Picker Component
//
// Styles for picker
// ------------------------------------------------------------
.participant-name {
  color: $grey;
}

.participant-name:hover {
  color: $color-primary;
}

.delete-item {
  color: $color-primary;
  font-size: 18px;
  margin-right: 8px;
}

h4 {
  font-weight: $font-medium;
  color: $grey;
  margin: 16px 0;
}
