<header class="hero-background">
  <h2 i18n class="internal-header">Missions</h2>
</header>

<main class="main-content">
  <form class="mission-form" *ngIf="auth.isAdmin | async" (submit)="createMission()">
      <fieldset class="content">
          <h2 i18n><span class="adminIcon"></span> New Mission</h2>
          <div class="form-layout">
            <md-input placeholder="Name" name="name" [(ngModel)]="newMission.name"></md-input>
          </div>

          <div class="options">
            <button i18n md-raised-button color="primary" type="submit">Create</button>
          </div>
      </fieldset>
  </form>

  <section class="card-container">

    <ul class="card-list">
      <md-card *ngFor="let mission of list | async" class="pretty-card" [routerLink]="['/missions/',mission.$key]">
        <li>

          <div class="card-hero-wrapper">
            <div class="card-hero" [style.background-image]="'url('+(mission.bannerUrl?mission.bannerUrl:'/assets/images/card-placeholder.jpg')+')'">
              <div class="card-hero" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8))">
                <div class="card-hero__content">
                  <md-card-title>{{mission.name}}</md-card-title>
                </div>
              </div>
            </div>
          </div>

          <div class="card-info">
            <md-card-subtitle>Organized by <span class="font-weight-bolder">{{(mission.organizer |  fireJoin:'/users/' | async)?.name }}</span></md-card-subtitle>
            <br>
            <md-card-subtitle>{{mission.description}}</md-card-subtitle>
          </div>

          <div class="card-action">
              <a i18n class="view-more" [routerLink]="['/missions/',mission.$key]">View</a>
          </div>

          <div class="edit-button secondary-button">
            <a i18n *ngIf="auth.isAdmin | async" (click)="edit(mission)">Edit</a>
          </div>

        </li>
      </md-card>
    </ul>

  </section>
</main>
