<div *ngIf="mission">
  <header class="hero-background">
    <h2 i18n class="internal-header">Mission</h2>
  </header>

  <main class="main-content internal-view">
    <md-card class="profile-card">
      <div class="edit-button--internal secondary-button" *ngIf="(auth.isAdmin | async) || (auth.uid | async)==mission.organizer">
        <a i18n routerLink="./edit">Edit</a>
      </div>
      <div class="card-hero-wrapper view-page">
        <div class="card-hero" [style.background-image]="'url('+((mission.bannerUrl|url)||'/assets/images/card-placeholder.jpg')+')'">
          <div class="card-hero" [ngClass]="{'linear-gradient': mission.bannerUrl}">
            <div class="card-hero__content">
              <h2>{{ mission.name}}</h2>
              <a i18n class="join">Join</a>
            </div>
          </div>
        </div>
      </div>

    <div class="two-column">
      <div class="left">
        <p *ngIf="mission.startDate && mission.endDate" ><i class="material-icons">date_range</i>{{ mission.startDate}} - {{ mission.endDate}}</p>
        <p *ngIf="mission.organizer"><i class="material-icons">person</i>Organizer: {{(mission.organizer |  fireJoin:'/users/' | async)?.name }}</p>
      </div>

      <div class="right">
        <h3>Description</h3>
        <p *ngIf="mission.description">{{ mission.description}}</p>
        <p *ngIf="!mission.description">No details have been added for {{mission.name}}.</p>
      </div>
    </div>

    <h3>Participants</h3>
      <div class="two-column internal-members">
        <div *ngFor="let developer of mission.participants | refirebase" class="content">
          <div class="shield" [style.background-image]="'url('+((developer | fireJoin:'/users/' | async)?.picUrl?(developer | fireJoin:'/users/' | async)?.picUrl:'/assets/images/card-placeholder.jpg')+')'"> </div>
          <p>{{(developer | fireJoin:'/users/' | async)?.name}}</p>
        </div>

        <p *ngIf="!mission.participants"> There are currently no participants added to {{mission.name}}. </p>
      </div>
    </md-card>
  </main>
</div>

<div *ngIf="!mission">
  <header class="hero-background">
      <h2 i18n class="internal-header">Mission</h2>
  </header>

  <main class="main-content">
    <p i18n>Mission not found.</p>
  </main>
</div>
