<div *ngIf="mission">
  <header class="hero-background">
    <h2 i18n class="internal-header">Mission</h2>
  </header>

  <main class="main-content internal-view">
    <md-card class="profile-card">
      <div class="card-hero-wrapper view-page">
        <div class="card-hero" [style.background-image]="'url('+(mission.bannerUrl?mission.bannerUrl:'/assets/images/card-placeholder.jpg')+')'">
          <div class="card-hero" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8))">
            <div class="card-hero__content">
              <h2>{{ mission.name}}</h2>
              <a i18n class="join">Join</a>
            </div>
          </div>
        </div>
      </div>

    <div class="two-column">
      <div class="left">
        <p *ngIf="mission.startDate && mission.endDate" ><i class="material-icons">date_range</i>{{ mission.startDate}} - {{ mission.endDate}}</p>
        <p><i class="material-icons">person</i>Organizer: {{(mission.organizer |  fireJoin:'/users/' | async)?.name }}</p>
      </div>

      <div class="right">
        <h3>Description</h3>
        <p *ngIf="mission.description">{{ mission.description}}</p>
      </div>
    </div>

    <h3>Participants</h3>
      <div class="two-column internal-members">
        <div *ngFor="let developer of mission.participants | refirebase" class="content">
            <img class="shield" [src]="(developer | fireJoin:'/users/' | async)?.picUrl"/>
            <p>{{(developer | fireJoin:'/users/' | async)?.name}}</p>
        </div>
      </div>
    </md-card>
  </main>
</div>

<div *ngIf="!mission">
  <header class="hero-background">
      <h2 i18n class="internal-header">Mission</h2>
  </header>

  <main class="main-content">
    <p i18n>Mission not found.</p>
  </main>
</div>
