// Global Variables
//
// Main global variables
// ------------------------------------------------------------

// Colors
$color-primary: #00838F; //Base Green
$color-secondary: #006064; //Base Green + Dark
$white: #FFFFFF; //Neutral Light
$black: #000000; //Neutral Dark
$grey: #929292; //Neutral Medium
$grey-dark: #37474F; //Grey Dark

// Shadow
$box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);

// Border
$border-radius: 2px;

// Font & Text
$font-family: 'Roboto', sans-serif;
$font-ligher: 300;
$font-medium: 400;
$font-bolder: 600;
$text-upper: uppercase;
$vertical-middle: middle;
$text-center: center;


// Description Styles
//
// Main styles for Community Description
// ------------------------------------------------------------
.app-description {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: $border-radius;
  margin-bottom: 30px;
  padding: 25px 16px;

  h1 {
    color: $grey-dark;
    font-size: 24px;
    font-weight: $font-medium;
    padding:0 16px;
  }

  p {
    color: $grey;
  }

  a {
    color: $color-primary;
    word-wrap:break-word;

    &:hover {
      text-decoration: underline;
    }
  }
}
