<form *ngIf="community" (submit)="save()" ngNoForm>

  <div class="form-layout">
    <div class="two-column "><md-input placeholder="Name" [(ngModel)]="community.name"></md-input></div>
    <div class="two-column "><md-input placeholder="Location" [(ngModel)]="community.location"></md-input></div>

    <div class="two-column  prefix--web">
      <md-input [ngClass]="{'prefix-label--web': community.url}" placeholder="URL" [(ngModel)]="community.url">
        <span class="prefix" md-prefix>http://</span>
      </md-input>
    </div>
    <div class="two-column  prefix--web">
      <md-input [ngClass]="{'prefix-label--web': community.bannerUrl}" placeholder="Banner URL" [(ngModel)]="community.bannerUrl">
        <span class="prefix" md-prefix>http://</span>
      </md-input>
    </div>

    <div *ngIf="community.bannerUrl" class="two-column "></div>
    <div *ngIf="community.bannerUrl" class="two-column  pic-url-image"><img [src]="community.bannerUrl" style="max-height:2em;"></div>

    <div class="two-column "><md-input placeholder="Description" [(ngModel)]="community.description"></md-input></div>
    <div class="two-column ">
      <label>
        Organizer
        <select [(ngModel)]="community.organizer">
          <option *ngFor="let developer of developers | async" [value]="developer.$key">{{developer.name}}</option>
        </select>
      </label>
    </div>
  </div>

  <fieldset class="content">
      <h2 i18n>Participants</h2>
      <picker [list]="'/users/'" [order]="'name'" [selectedKeys]="community.members" (update)="chooseParticipants($event)"></picker>
  </fieldset>


    <div class="options">
        <span i18n (click)="deleteThis()" class="delete">Delete</span>
        <button i18n md-raised-button color="primary" type="submit" >Save</button>
    </div>

</form>
