<div *ngIf="community">
  <header class="hero-background">
    <h2 class="internal-header">Community</h2>
  </header>

  <main class="main-content">
    <md-card class="profile-card">
      <div class="card-hero-wrapper view-page">
        <div class="card-hero" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url('')">
          <div class="card-hero__content">
            <h2>{{community.icon}} {{community.name}}</h2>
            <br>
            <a class="join" [href]="community.url">Join</a>
          </div>
        </div>
      </div>

      <p><strong>Location:</strong> {{community.location}}</p>
      <p><strong>Organizer:</strong> {{ (community.organizer | fireJoin:'/users/' | async)?.name}}</p>


      <p>{{community.description}}</p>

      <p>Members:</p>
      <div *ngFor="let developer of community.members | refirebase" class="content" style="display:flex;align-items:center">
          <img class="shield" *ngIf="(developer | fireJoin:'/users/' | async)?.picUrl" [src]="(developer | fireJoin:'/users/' | async)?.picUrl" />
          {{(developer | fireJoin:'/users/' | async)?.name}}
      </div>

    </md-card>
  </main>
</div>

<div *ngIf="!community">
  <header class="hero-background">
      <h2 class="internal-header">Community</h2>
  </header>

  <main class="main-content">
    <p>Community not found.</p>
  </main>
</div>
