<div *ngIf="community">
  <header class="hero-background">
    <h2 i18n class="internal-header">Community</h2>
  </header>

  <main class="main-content internal-view">
    <md-card class="profile-card">
      <div class="card-hero-wrapper view-page">
        <div class="edit-button--internal secondary-button" *ngIf="(auth.isAdmin | async) || (auth.uid | async)==community.organizer" >
          <a i18n routerLink="./edit">Edit</a>
        </div>
        <div class="card-hero" [style.background-image]="'url('+(community.bannerUrl?community.bannerUrl:'/assets/images/card-placeholder.jpg')+')'">
          <div class="card-hero" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8))">
            <div class="card-hero__content">
              <h2>{{community.icon}} {{community.name}}</h2>
              <a *ngIf="community.url" i18n class="join" [href]="community.url">Join</a>
            </div>
          </div>
        </div>
      </div>

    <div class="two-column">
      <div class="left">
        <p i18n><i class="material-icons">location_on</i>{{community.location}}</p>
        <p i18n><i class="material-icons">person</i>Organizer: {{ (community.organizer | fireJoin:'/users/' | async)?.name}}</p>
      </div>

      <div class="right">
        <h3 i18n>Description</h3>
        <p>{{community.description}}</p>
      </div>
    </div>

    <h3 i18n>Members</h3>
      <div class="two-column internal-members member-container">
        <div *ngFor="let developer of community.members | refirebase" class="content">
          <div class="shield" [style.background-image]="'url('+((developer | fireJoin:'/users/' | async)?.picUrl?(developer | fireJoin:'/users/' | async)?.picUrl:'/assets/images/card-placeholder.jpg')+')'"> </div>
          <p> {{(developer | fireJoin:'/users/' | async)?.name}} </p>
        </div>
      </div>
    </md-card>
  </main>
</div>

<div *ngIf="!community">
  <header class="hero-background">
      <h2 i18n class="internal-header">Community</h2>
  </header>

  <main class="main-content">
    <p i18n>Community not found.</p>
  </main>
</div>
