// Import Main global variables
// ------------------------------------------------------------
@import '../../assets/scss/variables.scss';

// Expert Component
//
// Styles for edit content
// ------------------------------------------------------------
.developer-content {
  font-size: 16px;
  font-weight: $font-ligher;
  line-height: 1.5;
}

.developer-content .content-title{
  color: $grey;
}

.developer-content .content-item {
  color: $color-primary;
}

.content-item:hover {
  text-decoration: underline;
}
