// Import Main global variables
// ------------------------------------------------------------
@import '../../assets/scss/variables.scss';

// Expert Component
//
// Styles for Developer Expert View
// ------------------------------------------------------------
.developer-links .left .card-hero {
  height: 100%;
  min-height: 250px;
}

// Two-column Grid
@media (min-width: 720px) {
  .two-column {
    display: flex;
  }

  .developer-links .left {
    width: 30%;
  }

  .developer-links  .right {
    margin-left: 45px;
    flex-grow: 1;
  }

  // Profile Content Layout
  .developer-content {
    margin-top: 40px;
  }

  .developer-content .left {
    width: 60%;
    padding-right: 60px;
  }

  .developer-content .right {
    flex-grow: 1;
  }
}

// Card Title Styles
.profile-card md-card-title {
  color: $grey-dark;
  font-size: 24px;
  font-weight: $font-medium;
  margin-bottom: 8px;
  margin-top: 10px;
  text-transform: $text-upper;
}

.profile-card md-card-subtitle {
  font-size: 18px;
}

// Expert Link Styles
.expertLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
  width: 350px;
}

.expertLinks > a {
  flex-basis: calc(50% - 40px);
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.expertLinks svg {
  vertical-align: $vertical-middle;
  margin-right: 15px;
}

.expertLinks a {
  color: $color-primary;
}

.expertLinks a:hover {
  text-decoration: underline;
}

.expertLinks {
  margin-top: 35px;
}

.developer-profile .developer-icon {
  fill: $color-primary;
  height: 24px;
  width: 15px;
}

// Expert Location
.developer-location {
  color: $grey;
  font-size: 16px;
  margin-top: 25px;
}

.developer-location .material-icons {
  display: inline-flex;
  font-size: 25px;
  margin-right: 8px;
  vertical-align: $vertical-middle;
}

// Developer Extended Info
h3 {
  color: $grey;
  font-size: 24px;
  font-weight: $font-medium;
  margin: 16px 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: $font-ligher;
  color: $grey;
  padding-left: 0;
}
