// Developer Card Styles
.developer-card .card-hero {
  height: 200px;
  width: 100%;
}

.developer-icon {
  fill: rgba(0, 0, 0, 0.50);
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.expert-links .icon-container svg {
  vertical-align: middle;
}

.icon-container {
  padding-bottom: 5px;
}
