.developer-content {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.developer-content .content-title{
  color: rgba(0, 0, 0, 0.54);
}

.developer-content .content-item {
  color:  #00838f;
}

.content-item:hover {
  text-decoration: underline;
}
