// Import Main global variables
// ------------------------------------------------------------
@import '../../assets/scss/variables.scss';

// Expert Component
//
// Styles for Forms
// ------------------------------------------------------------
// Two Column Grid
.two-column {
  padding-bottom: 20px;
}

.two-column label {
  color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 720px) {
  .form-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  //Two Column Layout
  .two-column {
    width: 50%;
  }

  .two-column:nth-of-type(odd) {
    padding-right:15px;
  }

  .two-column:nth-of-type(even) {
    padding-left:15px;
  }

  //Three Column Layout
  .three-column {
    width: 33%;
  }

  .three-column:nth-of-type(odd) {
    padding-right:15px;
  }

  .three-column:nth-of-type(even) {
    padding-left:15px;
    padding-right:15px;
  }

  expert-content {
    width: 50%;
  }
}

.form-title {
  color: $grey;
  font-size: 18px;
  font-weight: $font-medium;
  margin: 16px;
}

.main-content p {
  color: $grey;
}

.ng-valid[required],
.ng-invalid {
  border: none !important;
}

// Develoepr Expert Content
expert-content {
  margin-top: 20px;
}

expert-content {
  background-color: rgba(0, 0, 0, 0.05);
  display:block;
  padding: 10px;
  margin-bottom: 5px;
}

expert-content:hover {
  background-color: #DDD;
  display:block;
}
