<form *ngIf="expert" (submit)="save(expert)" ngNoForm>

  <div class="form-layout">
    <div class="two-column"><md-input-container><input mdInput i18n-placeholder placeholder="Name" [(ngModel)]="expert.name"></md-input-container></div>
    <div class="two-column"><md-input-container><input mdInput i18n-placeholder placeholder="Location" [(ngModel)]="expert.location"></md-input-container></div>

    <div class="two-column prefix--web">
      <md-input-container><input mdInput [ngClass]="{'prefix-label--web': expert.website}" i18n-placeholder placeholder="Website" [(ngModel)]="expert.website"><span class="prefix" md-prefix>https://</span></md-input-container>
    </div>
    <div class="two-column prefix--web">
      <md-input-container><input mdInput [ngClass]="{'prefix-label--web': expert.picUrl}" i18n-placeholder placeholder="Pic URL" [(ngModel)]="expert.picUrl"><span class="prefix" md-prefix>https://</span></md-input-container>
    </div>

    <div class="two-column"></div>
    <div class="two-column  pic-url-image"><img *ngIf="expert.picUrl" [src]="expert.picUrl|url" style="max-height:2em;"></div>

    <div class="two-column prefix--twitter">
      <md-input-container><input mdInput [ngClass]="{'prefix-label--twitter': expert.twitter}" placeholder="Twitter" [(ngModel)]="expert.twitter"><span class="prefix" md-prefix>@&nbsp;</span></md-input-container>
    </div>
    <div class="two-column">
      <md-input-container><input mdInput i18n-placeholder placeholder="Github Username" [(ngModel)]="expert.github"></md-input-container></div>

    <div class="two-column"><md-input-container><input mdInput i18n-placeholder placeholder="LinkedIn Username" [(ngModel)]="expert.linkedIn"></md-input-container></div>
    <div class="two-column"><md-input-container><input mdInput i18n-placeholder placeholder="Bio" [(ngModel)]="expert.bio"></md-input-container></div>
  </div>
    <!--<div>Communities</div>
    <picker [list]="'/communities/'" [order]="'name'" [selectedKeys]="expert.communities" (update)="chooseCommunities($event)"></picker>
    -->
    <fieldset class="content">
        <h2 i18n>Content: Share your work</h2>

        <div class="expert-content">
          <expert-content *ngFor="let content of expert.content | refirebase" [content]="content" (click)="editContent(content)"></expert-content>
        </div>

        <h3 i18n>New/Edit Content</h3>
        <div class="form-layout">
          <div class="three-column"><md-input-container><input mdInput i18n-placeholder placeholder="Content Title" [(ngModel)]="newContent.title"></md-input-container></div>
          <div class="three-column"><md-input-container><input mdInput i18n-placeholder placeholder="URL" [(ngModel)]="newContent.url"></md-input-container></div>
          <div class="three-column">
            <label>
                <span i18n>Type</span>
                <select [(ngModel)]="newContent.type">
                    <option i18n>Presentation</option>
                    <option i18n>Blog Post</option>
                    <option i18n>Other</option>
                </select>
            </label>
          </div>
        </div>

        <div class="options">
            <button i18n md-raised-button color="primary" type="button" (click)="createContent();">Create</button>
        </div>
    </fieldset>

    <fieldset class="content" *ngIf="auth.isAdmin | async">
      <h2 i18n>Admin Properties</h2>

      <h3></h3>

      <div class="form-layout">

        <div class="three-column">
          <label i18n>Show on Developers Tab
            <md-slide-toggle [(ngModel)]="expert.isExpert"></md-slide-toggle>
        </label>
        </div>
        <div class="three-column">
          <label>GDE
            <md-slide-toggle name="isGDE" [(ngModel)]="expert.isGDE"></md-slide-toggle>
          </label>
        </div>

        <div class="three-column">
          <label i18n>Consultant
            <md-slide-toggle [(ngModel)]="expert.isConsultant"></md-slide-toggle>
          </label>
        </div>

        <div class="three-column">
          <label>Googler
            <md-slide-toggle [(ngModel)]="expert.isGoogler"></md-slide-toggle>
          </label>
        </div>
        <div class="three-column">
          <label i18n>Educator
            <md-slide-toggle [(ngModel)]="expert.isEducator"></md-slide-toggle>
          </label>
        </div>
      </div>

    </fieldset>

    <div class="options">
        <span i18n (click)="deleteThis()" class="delete">Delete</span>
        <button i18n md-raised-button color="primary" type="submit">Save</button>
    </div>
</form>
