// Import Main global variables
// ------------------------------------------------------------
@import '../../assets/scss/variables.scss';

// Experts Component
//
// Styles for developer pages
// ------------------------------------------------------------
// Developer Card Styles
.developer-card .card-hero {
  height: 200px;
  width: 100%;
}

.developer-icon {
  $dev-icon-size: 20px;

  fill: $grey;
  height: $dev-icon-size;
  margin-right: 5px;
  width: $dev-icon-size;
}

.expert-links .icon-container svg {
  vertical-align: $vertical-middle;
}

.icon-container {
  padding-bottom: 5px;
}
