<div *ngIf="auth.isAdmin | async">
  <header class="hero-background">
    <h2 class="internal-header">All Developers</h2>
  </header>

  <main class="main-content">

    <section class="card-container">
      <ul class="card-list">
        <md-card *ngFor="let expert of experts | async" class="pretty-card" [routerLink]="['/experts/',expert.$key]">
          <li>

            <div class="card-hero-wrapper">
              <div class="card-hero" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url('images/card-placeholder.jpg')">
                <div class="card-hero__content">
                  <div [style.background-image]="'url('+expert.picUrl+')'" *ngIf="expert.picUrl" class="background-side-picture"></div>
                  <md-card-title>{{ expert.name}}</md-card-title>
                </div>
              </div>
            </div>

            <div class="card-info">
              <md-card-subtitle>{{exwebpage}}</md-card-subtitle>
              <md-card-subtitle *ngIf="expert.twitterID">@{{expert.twitterID}}</md-card-subtitle>
            </div>

            <div *ngIf="expert.communities">
                <h4>Communities</h4>
                <div *ngFor="let community of expert.communities | refirebase" >
                    <div>{{ (community | fireJoin:'/communities/' | async)?.name }}</div>
                </div>
            </div>

            <div class="card-action">
                <a class="view-more" [routerLink]="['/experts/',expert.$key]">View</a>
            </div>

            <div class="edit-button">
                <button *ngIf="auth.isAdmin | async" md-raised-button (click)="edit(expert)">Edit</button>
            </div>

          </li>
        </md-card>
      </ul>
    </section>
  </main>
</div>
