/**
https://coolors.co/app/1b3022-505a5b-f2e9e4-a67db8-7261a3
Scheme:
#3D3175
*/
*.md-primary  {
    background-color:#3D3175 !important;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h2 { display: inline; margin-left:16px; }
label { display: block;}
p, nav, form, .grid, .content { padding:16px; }

nav {
    background-color:rgba(61,49,117,.8);
    color:white;
    padding:16px; 
    margin-bottom:16px;
}
nav a {
    color:white;
    text-decoration: none;
    background-color:rgba(255,255,255,.1);
    padding:16px;
}


.pretty-card {
    margin:16px;
    width:300px;
    float:left;
    height:200px;
}
.background-side-picture {
    width:80px;
    height:80px;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
}
.background-side-picture.contain {
    background-size:contain;
}

.edit-button {
    position:absolute;
    bottom:16px;
    right:16px;
}
md-toolbar-row {
    justify-content: space-between;
}
md-toolbar-row>* {
    display:flex;
    align-items:center;
}


.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
input {
    padding: 6px;
}
label input {display:block;margin-bottom:16px;width:100%;}
form {max-width:800px;}