/**
https://coolors.co/app/1b3022-505a5b-f2e9e4-a67db8-7261a3
Scheme:
#3D3175
*/
*.md-primary  {
    background-color:#3D3175 !important;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h2 { display: inline; margin-left:16px; }
label { display: block;}
p, nav, form, .grid, .content { padding:16px; }

nav {
    background-color:rgba(61,49,117,.8);
    color:white;
    padding:16px; 
    margin-bottom:16px;
}
nav a {
    color:white;
    text-decoration: none;
    padding:16px 16px 16px 0px;
}
nav a:hover {
    color: #CCC;
}


.pretty-card {
    margin:16px;
    width:300px;
    float:left;
    height:200px;
    cursor: pointer;
}
.pretty-card:hover {
 background-color:rgba(61,49,117,.1);   
}
.pretty-card md-card-title {
    min-height:64px;
}

.background-side-picture {
    width:80px;
    height:80px;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
}
.background-side-picture.contain {
    background-size:contain;
}

.edit-button {
    position:absolute;
    bottom:16px;
    right:16px;
}
md-toolbar-row {
    justify-content: space-between;
}
md-toolbar-row>* {
    display:flex;
    align-items:center;
}


.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
fieldset {
    border-radius:18px;
}
input {
    padding: 6px;
}
picker {border:1px solid #CCC;}
label input,label picker, label textarea, label select {
    display:block;
    margin-bottom:16px;
    margin-top:4px;
    width:100%;
    font-weight:300;
    padding:8px;
    font-size:14px;
    background-color: #FAFAFA;border:1px solid #CCC;
}

label input[type="checkbox"] {
    display: inline;
    width: auto;
    margin-right:16px;
}
form {max-width:800px;}
form .options {text-align:right;margin:16px 0}
form .options button {margin-left:16px;}
form .options .delete {cursor: pointer;}
.adminIcon {
    background-image: url('https://angular.io/resources/images/logos/angular2/angular.svg');
    width:1em;
    height:.8em;
    display:inline-block;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right:.1em;
}

user-login {
    text-align:right;
}
user-login a {
    color:white;
    text-decoration: none;
}
user-login button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
img.shield {
    max-height:64px;
    max-width:64px;
    margin-right:8px;
    /*
    50% 0%, 100% 16.6%, 92.37379% 78.15%, 50% 100%, 7.62621% 78.15%, 0% 16.6%
    */
    -webkit-clip-path: polygon(50% 0%, 100% 16.6%, 92.37379% 78.15%, 50% 100%, 7.62621% 78.15%, 0% 16.6%);
    clip-path: polygon(50% 0%, 100% 16.6%, 92.37379% 78.15%, 50% 100%, 7.62621% 78.15%, 0% 16.6%);
}

@media only screen and (max-device-width : 480px) {
    nav a {
        margin:4px;
        padding:4px;
        display:block;
    }
    .pretty-card {
        margin:4px;
        width: calc( 100% - 8px);
    }
}