* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h2 { display: inline; margin-left:16px; }
label { display: block;}
p, nav, form, .grid, .content { padding:16px; }

.card {
    margin:16px;
    padding:16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width:300px;
}
.pretty-card {
    margin:16px;
    width:300px;
    float:left;
    height:200px;
}
.background-side-picture {
    width:80px;
    height:80px;
    background-size:cover;
    background-position:center center;
}

.edit-button {
    position:absolute;
    bottom:16px;
    right:16px;
}