// Global Variables
//
// Main global variables
// ------------------------------------------------------------

// Colors
$color-primary: #00838F; //Base Green
$color-secondary: #006064; //Base Green + Dark
$white: #FFFFFF; //Neutral Light
$black: #000000; //Neutral Dark
$grey: #929292; //Neutral Medium
// Shadow
$box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
// Border
$border-radius: 2px;
// Font & Text
$font-family: 'Roboto', sans-serif;
$font-ligher: 300;
$font-medium: 400;
$font-bolder: 600;
$text-upper: uppercase;
$vertical-middle: middle;
$text-center: center;


// Main App Styles
//
// Main default styles
// ------------------------------------------------------------
*.md-primary  {
  background-color: $color-primary !important;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

h2 { display: inline; }
label { display: block;}
p, form, .grid, .content { padding:16px; }


// Utility Classes
.font-weight-ligher {
  font-weight: 300;
}

.font-weight-bolder {
  font-weight: 600;
}

.box-shadow {
  box-shadow: $box-shadow;
}

// Gloval Navigation
//
// Gobal styles for top navigation
// ------------------------------------------------------------

// Navigation Variables
$nav-zindex: 5; // Used to raise navigation on top of md-cards
$nav-row-height: 64px;
$nav-link-color: #fff;

.nav__header {
  background-color: $color-primary;
  position: fixed;
  width: 100%;
  z-index: $nav-zindex;

  & img {
    vertical-align: $vertical-middle;
  }
}

.nav__header-row {
  display: flex;
  height: $nav-row-height;
}

.navigation__link {
  color: $nav-link-color;
  font-weight: $font-medium;
  line-height: $nav-row-height;
  opacity: .87;
  text-decoration: none;
  text-transform: $text-upper;
  white-space: nowrap;

  &:hover {
    background-color: $color-secondary;
  }
}

@media screen and (max-width: 1024px) {
  .navigation__link {
    padding: 0 16px;
  }
}

.nav-logo {
  $logo-margin: -8px; // Align logo to microsite name
  $logo-padding: 25px;

  margin-top: $logo-margin;
  padding-left: $logo-padding;
}

.microsite-name {
  $nav-font-size: 20px;

  color: $nav-link-color;
  font-size: $nav-font-size;
  line-height: $nav-row-height;
  margin-left: 8px;
  margin-right: 30px;
  text-transform: $text-upper;
}

// Navigation spacer between main app link items and user items
.layout-spacer {
  flex-grow: 1;
}

.top-nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  label {
    display: none;

    &:hover {
      background-color: $color-primary;
    }
  }
}

.top-navigation {
  flex-grow: 1;
  display:flex;

  .layout-spacer {
    flex-grow: 1;
  }
}

// Responsive Username
//
// Navigation styles for responsive usernamme
// ------------------------------------------------------------
$nav-name-media1: 961px;
$nav-name-media2: 980px;
$nav-name-media3: 1000px;
$nav-name-media4: 1070px;
$nav-name-media5: 1100px;
$nav-name-media6: 1150px;
$nav-name-media7: 1180px;
$nav-name-media8: 1222px;


.nav-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: $nav-name-media1) {
  .navigation__link {
    padding: 0 10px;
  }

  .nav-name {
    max-width: 60px;
  }
}
@media (min-width: $nav-name-media2) {
  .nav-name {
    max-width: 80px;
  }
}
@media (min-width: $nav-name-media3) {
  .nav-name {
    max-width: 85px;
  }

  .navigation__link {
    padding: 0 12px;
  }
}
@media (min-width: $nav-name-media4) {
  .nav-name {
    max-width: 108px;
  }

  .navigation__link {
    padding: 0 16px;
  }
}
@media (min-width: $nav-name-media5) {
  .nav-name {
    max-width: 135px;
  }
}
@media (min-width: $nav-name-media6) {
  .nav-name {
    max-width: 190px;
  }
}
@media (min-width: $nav-name-media7) {
  .nav-name {
    max-width: 235px;
  }
}
@media (min-width: $nav-name-media8) {
  .nav-name {
    max-width: 250px;
  }
}

// Responsive Navigation Styles
//
// Tablet & Mobile Responsive Navigation
// ------------------------------------------------------------
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (max-width: 960px) {
  $nav-height: 54px;

  .top-navigation .navigation__link {
    height: $nav-height;
    line-height: $nav-height;
  }

  label .navigation__link {
    font-size: 14px;
  }

  .nav-logo {
    padding-left: 10px;
  }

  .top-nav-wrapper {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100%);
    z-index: 2;

    label {
      cursor: pointer;
      display: block;
      display: flex;
      float: right;
    }

    nav {
      background: $color-secondary;
      clear: both;
      display: none;
      height: auto !important;

      a {
        display: block;
      }
    }

    .layout-spacer {
      display: none;
    }
  }

  input:checked + .top-nav-wrapper {
    label {
      background: $color-secondary;
      height: $nav-row-height;
    }

    nav {
      display: block;
    }
  }
}

@media only screen and (max-device-width : 480px) {
  nav a {
    margin:4px;
    padding:4px;
    display:block;
  }
}

// Button Styles
//
// Styles for buttons
// ------------------------------------------------------------
// Primary Button
.md-primary[md-raised-button], .md-primary[md-fab], .md-primary[md-mini-fab] {
  font-weight: 300;
}

// Delete Button
.delete {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: $border-radius;
  color: $grey;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  padding: 10px 23px;
  text-transform: none;
}

.delete:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

// Secondary Button
.secondary-button a {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: $border-radius;
  color: $grey;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  padding: 6px 23px;
}

.secondary-button a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.edit-button {
  $edit-size: 20px;

  bottom: $edit-size;
  position: absolute;
  right: $edit-size;
}

// Main Layout
//
// Styles main content
// ------------------------------------------------------------
.main-content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
}

// Form Styles
//
// Styles for forms
// ------------------------------------------------------------
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

fieldset {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 18px;
  border: none;
  margin-bottom: 30px;
}

fieldset h2,
fieldset h3 {
  color: $grey;
  font-size: 18px;
  font-weight: $font-medium;
  margin: 16px 0;
}

fieldset h3 {
  font-size: 16px;
  margin-top: 40px;
}

fieldset label {
  color: rgba(0, 0, 0, 0.4);
}

input {
  padding: 6px;
}

label input,label picker, label textarea, label select {
  background-color: #FAFAFA;border:1px solid #CCC;
  display:block;
  font-size:14px;
  font-weight:300;
  margin-bottom:16px;
  margin-top:4px;
  padding:8px;
  width:100%;
}
form md-input {
  width:100%;
}

label input[type="checkbox"] {
  display: inline;
  margin-right:16px;
  width: auto;
}

form {max-width:800px;}
form .options {text-align:right;margin:16px 0}
form .options button {margin-left:16px;}
form .options .delete {cursor: pointer;}
.adminIcon {
    background-image: url('/assets/images/angular-shield.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    display:inline-block;
    height: 0.9em;
    margin-right:.1em;
    width:1.5em;
}

form input {
  color: #37474F;
}

// Toggle
.md-checked {
  .md-slide-toggle-thumb {
    background-color: $color-primary !important;
  }

  .md-slide-toggle-bar {
    background-color: rgba(0, 150, 136, 0.5) !important;
  }
}

.md-slide-toggle-focused {
  &.md-checked .md-ink-ripple {
    background-color: rgba(0, 150, 136, 0.5) !important;
  }
}

// Sheild
//
// Styles image angular shield
// ------------------------------------------------------------
img.shield {
  max-height:64px;
  max-width:64px;
  -webkit-clip-path: polygon(50% 0%, 100% 16.6%, 92.37379% 78.15%, 50% 100%, 7.62621% 78.15%, 0% 16.6%);
  clip-path: polygon(50% 0%, 100% 16.6%, 92.37379% 78.15%, 50% 100%, 7.62621% 78.15%, 0% 16.6%);
}

// Hero Background
//
// Styles for main hero background
// ------------------------------------------------------------
.hero-background {
  $hero-margin: 45px;
  $hero-padding-top: 110px;
  $hero-padding-bottom: 40px;
  $hero-padding: $hero-padding-top 0 $hero-padding-bottom 0;

  background: linear-gradient($color-secondary,$color-primary);
  color: $white;
  margin-bottom: $hero-margin;
  padding: $hero-padding;
}

.internal-header {
  font-size: 24px;
  font-weight: $font-ligher;
  margin: 40px 0;
  padding-left: 48px;
  text-transform: $text-upper;
}

.event-logo {
  max-width: 120px;
  max-height: 120px;
}

// MD-card Styles
//
// Styles for material cards
// ------------------------------------------------------------
.card-container ul {
  display:flex;
  flex-wrap: wrap;
  list-style:none;
}

.card-container li {
  display: inline;
  margin: 0 auto;
  text-align: $text-center;
}

.card-list li {
  margin: 0;
  width: 100%;
}

.pretty-card {
  $card-width: 250px;
  $card-margin: 13px 1%;

  display: flex;
  margin: $card-margin;
  padding: 0;
  width: $card-width;
  z-index: 0;
}

// Responsive card styles
$card-media1: 480px;
$card-media2: 720px;
$card-media3: 800px;
$card-media4: 10224px;

@media screen and (max-width: $card-media4) {
  .pretty-card {
    width: 23%;
  }
}

@media screen and (max-width: $card-media3) {
  .pretty-card {
    width: 48%;
  }
}

@media screen and (max-width: $card-media2) {
  .pretty-card {
    width: 100%;
  }
}

@media screen and (max-width: $card-media1) {
  .pretty-card {
    margin:4px;
    width: calc( 100% - 8px);
  }
}

.pretty-card .md-card {
  margin: 0 auto;
  width: 100%;
}

.pretty-card:hover {
  $card-hover: linear-gradient(rgba(255,255,255,0), rgba(227,239,241,0.5));
  background: $card-hover;
}

// MD-card Styles
//
// Styles for material cards
// ------------------------------------------------------------
.card-hero {
  $card-height: 130px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: $card-height;
  overflow: hidden;
  width: 100%;
}

.events-component .card-hero {
  $card-height: 160px;

  height: $card-height;
}

.card-hero__content {
   align-self: flex-end;
   width: 100%;
}

.card-hero md-card-title {
  $card-title-color: $white;
  $card-font: 20px;
  $card-line-height: $card-font;

  color: $card-title-color;
  font-size: $card-font;
  line-height: $card-line-height;
  margin-bottom: 10px;
  margin-left: 15px;
  text-align: left;
}

.card-hero md-card-subtitle {
  text-align: left;
  margin-left: 15px;
  margin-bottom: 15px;
  color: $grey;
}

// Card Information
.card-info {
  margin-bottom: 30px;
  min-height: 50px;
}

.card-info md-card-subtitle {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.card-action {
  color: $color-primary;
  margin-bottom: 20px;
  margin-left: 15px;
  text-align: left;
}

// View Button
.view-more {
  color: $color-primary;
  font-size: 14px;
  text-decoration: none;
  text-transform: $text-upper;
}

// Internal Page
//
// Styles for internal view page
// ------------------------------------------------------------

// Hero Styles
.view-page .card-hero {
  $internal-hero-height: 250px;

  height: $internal-hero-height;
}

.view-page .card-hero__content {
  align-self: center;
  text-align: $text-center;
}

.view-page h2 {
  color: $white;
  font-size: 28px;
  font-weight: $font-ligher;
  line-height: 40px;
  text-align: $text-center;
}

// Button Styles
.view-page .join {
  $join-height: 45px;
  $join-width: 150px;

  background-color: $white;
  border-radius: $border-radius;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  color: $color-secondary;
  display: inline-block;
  font-size: 15px;
  height: $join-height;
  line-height: $join-height;
  margin-top: 20px;
  min-width: $join-width;
  padding: 0 30px;
  text-decoration: none;
  text-transform: $text-upper;
}

// Layout Styles
@media (min-width: 720px) {
  .internal-view .two-column {
    display: flex;
    margin: 40px 0;
  }

  .member-container {
    display: flex;
    flex-wrap: wrap;
  }

  .internal-view .left {
    $left-width: 400px;

    background-color: rgba(0, 0, 0, 0.02);
    border-radius: $border-radius +2;
    min-width: $left-width;
    padding: 20px;
  }

  .internal-view  .right {
    margin-left: 45px;
  }
}

.internal-view h3 {
  color: $grey;
  font-size: 24px;
  font-weight: $font-medium;
  margin-bottom: 16px;
}

.internal-view p {
  color: $grey;
  font-size: 16px;
  font-weight: $font-ligher;
  line-height: 1.5;
  padding-left: 0;
  text-align: left;
}

.internal-view .material-icons {
  color: $color-primary;
  display: inline-flex;
  font-size: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

.internal-memebers p {
  padding: 0;
  text-align: $text-center;
}

.internal-members .content {
  text-align: $text-center;
}

.internal-members img.shield {
  $sheild-size: 120px;

  max-height: $sheild-size;
  max-width: $sheild-size;
  min-height: $sheild-size;
  min-width: $sheild-size;
}

.internal-view .internal-members p{
  text-align: $text-center;
}

.background-side-picture.contain {
  background-size:contain;
}

.background-side-picture {
  $pic-size: 80px;
  $pic-margin: 15px;

  background-position:center center;
  background-repeat: no-repeat;
  background-size:cover;
  height: $pic-size;
  margin-bottom: $pic-margin;
  margin-left: $pic-margin;
  width: $pic-size;
}
