// Global Variables
$color-primary: #00838f;
$color-secondary: #006064;
$box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);

*.md-primary  {
  background-color: $color-primary !important;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

h2 { display: inline; }
label { display: block;}
p, form, .grid, .content { padding:16px; }

.font-weight-ligher {
  font-weight: 300;
}

.font-weight-bolder {
  font-weight: 600;
}

.box-shadow {
  box-shadow: $box-shadow;
}

// Global Navigation Styles
// Nav Variables
$nav-zindex: 5;
$nav-row-height: 64px;
$nav-link-color: #fff;

.nav__header {
  background-color: $color-primary;
  position: fixed;
  width: 100%;
  z-index: $nav-zindex;

  & img {
    vertical-align: middle;
  }
}

.nav__header-row {
  display: flex;
  height: $nav-row-height;
}

.navigation__link {
  color: $nav-link-color;
  font-size: 16px;
  font-weight: 400;
  line-height: $nav-row-height;
  opacity: .87;
  padding: 0 24px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    background-color: $color-secondary;

  }
}

// Responsive Developer Name
.nav-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 961px) {
  .navigation__link {
    padding: 0 10px;
  }

  .nav-name {
    max-width: 60px;
  }
}

@media (min-width: 980px) {
  .nav-name {
    max-width: 80px;
  }
}

@media (min-width: 1000px) {
  .nav-name {
    max-width: 85px;
  }

  .navigation__link {
    padding: 0 12px;
  }
}

@media (min-width: 1070px) {
  .nav-name {
    max-width: 108px;
  }

  .navigation__link {
    padding: 0 16px;
  }
}

@media (min-width: 1100px) {
  .nav-name {
    max-width: 135px;
  }
}

@media (min-width: 1150px) {
  .nav-name {
    max-width: 190px;
  }
}

@media (min-width: 1180px) {
  .nav-name {
    max-width: 235px;
  }
}

@media (min-width: 1222px) {
  .nav-name {
    max-width: 250px;
  }
}

.nav-logo {
  margin-top: -8px;
  padding-left: 25px;
}

.microsite-name {
  color: $nav-link-color;
  font-size: 20px;
  line-height: $nav-row-height;
  margin-left: 8px;
  margin-right: 30px;
  text-transform: uppercase;
}

.layout-spacer {
  flex-grow: 1;
}

.top-nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  label {
    display: none;

    &:hover {
      background-color: $color-primary;
    }
  }
}
.top-navigation {
  flex-grow: 1;
  display:flex;

  .layout-spacer {
    flex-grow: 1;
  }
}

// MENU MOBILE
@media (max-width: 960px) {

  $nav-height: 54px;

  .top-navigation .navigation__link {
    height: $nav-height;
    line-height: $nav-height;
  }

  label .navigation__link {
    font-size: 14px;
  }

  .nav-logo {
    padding-left: 10px;
  }

  .top-nav-wrapper {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100%);
    z-index: 2;

    label {
      cursor: pointer;
      display: block;
      float: right;
      display: flex;
    }

    nav {
      background: $color-secondary;
      clear: both;
      display: none;
      height: auto !important;

      a {
        display: block;
      }
    }

    .layout-spacer {
      display: none;
    }
  }

  input:checked + .top-nav-wrapper {
    label {
      background: $color-secondary;
      height: $nav-row-height;
    }

    nav {
      display: block;
    }
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Internal Hero Styles
.hero-background {
  background: linear-gradient($color-secondary,$color-primary);
  color: #fff;
  margin-bottom: 45px;
  padding: 110px 0 40px 0;
}

.hero-background h2 {
  font-weight: 300;
  margin: 40px 0;
  padding-left: 48px;
}

.internal-header {
  font-size: 24px;
  text-transform: uppercase;
}

// Content Wrapper
.main-content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
}

// Card Styles
.card-container ul {
  display:flex;
  flex-wrap: wrap;
  list-style:none;
}

.card-container li {
  display: inline;
  margin:0 auto;
  text-align: center;
}

.card-list li {
  margin: 0;
  width: 100%;
}

.pretty-card {
  display: flex;
  margin: 13px 1%;
  padding: 0;
  width: 250px;
  z-index: 0;
}

@media screen and (max-width: 10224px) {
  .pretty-card {
    width: 23%;
  }
}

@media screen and (max-width: 800px) {
  .pretty-card {
    width: 48%;
  }
}

@media screen and (max-width: 720px) {
  .pretty-card {
    width: 100%;
  }
}

.pretty-card .md-card {
  margin: 0 auto;
  width: 100%;
}

.pretty-card:hover {
  background: linear-gradient(rgba(255,255,255,0), rgba(227,239,241,0.5));
}

.card-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 130px;
  overflow: hidden;
}

.events-component .card-hero {
  height: 160px;
}

.card-hero__content {
   align-self: flex-end;
   width: 100%;
}

.card-hero md-card-title {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
  text-align: left;
}

.card-hero md-card-subtitle {
  color: rgba(255,255,255,0.6);
  margin-bottom: 15px;
  margin-left: 15px;
  text-align: left;
}

.card-info {
  margin-bottom: 30px;
  min-height: 50px;
}

.card-info md-card-subtitle {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.card-action {
  color: $color-primary;
  margin-bottom: 20px;
  margin-left: 15px;
  text-align: left;
}

.view-more {
  color: $color-primary;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

// Internal Page View
.view-page .card-hero {
  height: 250px;
}

.view-page .card-hero__content {
  align-self: center;
  text-align: center;
}

.view-page h2 {
  color: white;
  font-size: 28px;
  text-align: center;
  font-weight: 300;
  line-height: 40px;
}

.view-page .join {
  background-color: rgb(255,255,255);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  color: $color-secondary;
  display: inline-block;
  font-size: 15px;
  height: 45px;
  line-height: 45px;
  margin-top: 20px;
  min-width: 150px;
  padding: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 720px) {
  .internal-view .two-column {
    display: flex;
    margin: 40px 0;
  }

  .member-container {
    display: flex;
    flex-wrap: wrap;
  }

  .internal-view .left {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    padding: 20px;
    min-width: 400px;
  }

  .internal-view  .right {
    margin-left: 45px;
  }
}

.internal-view h3 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 16px;
}

.internal-view p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 0;
  text-align: left;
}

.internal-view .material-icons {
  color: $color-primary;
  display: inline-flex;
  font-size: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

.internal-memebers p {
  padding: 0;
  text-align: center;
}

.internal-members .content {
  text-align: center;
}

.internal-members img.shield {
  max-width: 120px;
  max-height: 120px;
  min-width: 120px;
  min-height: 120px;
}

.internal-view .internal-members p{
  text-align: center;
}

// Card logo Styles
.background-side-picture {
  width:80px;
  height:80px;
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  margin-left: 15px;
}

.background-side-picture.contain {
  background-size:contain;
}

.edit-button {
  position:absolute;
  bottom:20px;
  right:20px;
}

.secondary-button a {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  padding: 6px 23px;
  text-transform: none;
}

.secondary-button a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

// Form Styles
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

fieldset {
  border-radius:18px;
  border: none;
  background-color: rgba(0, 0, 0, 0.02);
  margin-bottom: 30px;
}

fieldset h2,
fieldset h3 {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  margin: 16px 0;
}

fieldset h3 {
  font-size: 16px;
  margin-top: 40px;
}

fieldset label {
  color: rgba(0, 0, 0, 0.4);
}

input {
  padding: 6px;
}

label input,label picker, label textarea, label select {
  display:block;
  margin-bottom:16px;
  margin-top:4px;
  width:100%;
  font-weight:300;
  padding:8px;
  font-size:14px;
  background-color: #FAFAFA;border:1px solid #CCC;
}
form md-input {
  width:100%;
}

label input[type="checkbox"] {
    display: inline;
    width: auto;
    margin-right:16px;
}

form {max-width:800px;}
form .options {text-align:right;margin:16px 0}
form .options button {margin-left:16px;}
form .options .delete {cursor: pointer;}
.adminIcon {
    background-image: url('/assets/images/angular-shield.svg');
    width:1.5em;
    height: 0.9em;
    display:inline-block;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right:.1em;
}

form input {
  color: #37474F;
}

//
// user-login a {
//     color:white;
//     text-decoration: none;
// }
// user-login button {
//     color: white;
//     background: none;
//     border: none;
//     cursor: pointer;
// }
img.shield {
    max-height:64px;
    max-width:64px;
    margin-right:8px;
    /*
    50% 0%, 100% 16.6%, 92.37379% 78.15%, 50% 100%, 7.62621% 78.15%, 0% 16.6%
    */
    -webkit-clip-path: polygon(50% 0%, 100% 16.6%, 92.37379% 78.15%, 50% 100%, 7.62621% 78.15%, 0% 16.6%);
    clip-path: polygon(50% 0%, 100% 16.6%, 92.37379% 78.15%, 50% 100%, 7.62621% 78.15%, 0% 16.6%);
}

@media only screen and (max-device-width : 480px) {
    nav a {
        margin:4px;
        padding:4px;
        display:block;
    }
    .pretty-card {
        margin:4px;
        width: calc( 100% - 8px);
    }
}

// Button Styles
.md-primary[md-raised-button], .md-primary[md-fab], .md-primary[md-mini-fab] {
  font-weight: 300;
}

// Delete Button
.delete {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  padding: 10px 23px;
  text-transform: none;
}

.delete:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

// Toggle
.md-checked {
  .md-slide-toggle-thumb {
    background-color: $color-primary !important;
  }

  .md-slide-toggle-bar {
    background-color: rgba(0, 150, 136, 0.5) !important;
  }
}

.md-slide-toggle-focused {
  &.md-checked .md-ink-ripple {
    background-color: rgba(0, 150, 136, 0.5) !important;
  }
}

.event-logo {
  max-width: 120px;
  max-height: 120px;
}
